HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore Terraform binaries

terraform-aws-prod/.terraform/
terraform-aws-prod/terraform.tfstate
terraform-aws-prod/terraform.tfstate.backup
terraform-aws-prod/tfplan
terraform-aws-prod/*.tfstate
terraform-aws-prod/*.tfvars
terraform-aws-prod/.terraform.lock.hcl

